div div.banner {
    background-color: #2f96b4;
    background: linear-gradient(to right,#006dcc, springgreen);
    height: 230px;
    width: 100%;
    cursor: pointer;
    border-radius: 20px;
    margin: 8px 0px;
}

div.banner img{
    width: 50%;
    display: block;
    margin: 0 auto;
}

div.modal-content{
    height: 850px;
    padding: 20px;
}

#dealDetailsButton{
    margin: 10px;
}

