@import "login.css";
@import "register.css";
@import "deals.css";
@import "contacts.css";


body {
    padding-top: 0;
/*	padding-bottom: 40px;*/
	background-color: #ccc;
}

body .container{
    min-height: 820px;
    background-color: #eee;
}

body .well{
	text-align: center;
    background-color: #eee;
}

.row{
    display: block;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/* Slogan style on all pages*/
.slogan{
    font-family: 'Courgette';
    color: #0066ff;
}

  
/* Home page */
.carousel-inner>.item>a>img,
.carousel-inner>.item>img,
.img-responsive,
.thumbnail a>img,
.thumbnail>img {
    padding: 10px;
    display: block;
    max-width: auto;
    height: 180px;
}

/* Search panel on Home page */
div.in.collapse div.well.well-lg{
    margin-top: 10px;
}

.searchForm{
    padding-top: 20px;
    padding-bottom: 0px;
    padding-right: 40px;
    padding-left: 40px;
}

/* Elements allignment in search panel */
.searchPanelButtons{
    padding-top: 10px;
}

.advancedSearchSubpanel{
    padding-bottom: 10px;
}

/*Link styles*/

li.uib-tab.nav-item {
    font-size: 18px;
}

li.uib-tab.nav-item:focus,
li.uib-tab.nav-item:hover {
    color: #002a80;
    font-weight: bold;
}

li a{
    padding: 10px;
}

.float-right {
    float: right;
    margin-right: 3px; 
}


/** Login Page **/
#login {
    padding-top: 40px;
    padding-bottom: 40px;
}

#login .form-login {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
#login .form-login .form-login-heading,
#login .form-login .checkbox {
    margin-bottom: 10px;
}
#login .form-login input[type="text"],
#login .form-login input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}


/* Modal Window */
.modalInfo{
    min-height: 700px;
    min-width: 500px;
}

.modal-content img{
    width: 500px;
    height: auto;
}

.modal-content{
    font-size:1.4em;
}


/* Footer */
footer{
    width: 400px;
    margin: 0 auto;
}

