<form novalidate class="form-login" name="formLogin">
    <div class="row">
        <div class="form-horizontal col-md-10">
            <input type="email"
                   class="form-control"
                   placeholder="Email address"
                   name ="email"
                   ng-model="email"
                   ng-required="true"
                   ng-minlength="5"
                   autofocus>
            <input type="password"
                   id="inputPassword"
                   name="password"
                   class="form-control"
                   placeholder="Password"
                   ng-model="password"
                   ng-required="true"
                   ng-minlength="5">
            <div class="alert alert-danger fade in"
                 role="alert"
                 data-hide="alert"
                 ng-show="formLogin.$submitted">
                    <button type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>{{errorMessage}}
            </div>
            <div>
                <button class="btn btn-lg btn-primary btn-block"
                        type="submit"
                        ng-click="submit()">Login</button>
                <button ui-sref="auth.register"
                       class="btn btn-lg btn-success btn-block"
                       type="submit">Actually I am a new user...</button>
            </div>
        </div>
    </div>
</form>