<form class="form-register">
  <h2 class="form-register-heading"></h2>
  <label for="inputName"
         class="sr-only">Your name</label>
  <input type="text"
         id="inputName"
         class="form-control"
         placeholder="Your name"
         required
         autofocus>
  <label for="inputFamilyName"
         class="sr-only">Your family name</label>
  <input type="text"
         id="inputFamilyName"
         class="form-control"
         placeholder="Your family name"
         required>
  <label for="inputEmail"
         class="sr-only">Your email</label>
  <input type="email"
         id="inputEmail"
         class="form-control"
         placeholder="Email address"
         required>
  <label for="inputPassword"
         class="sr-only">Password</label>
  <input type="password"
         id="inputPassword"
         class="form-control"
         placeholder="Password"
         required>
  <label for="confirmPassword"
         class="sr-only">Confirm password</label>
  <input type="password"
         id="confirmPassword"
         class="form-control"
         placeholder="Confirm password" required>
  <button ui-sref="main.search"
          class="btn btn-lg btn-primary btn-block"
          type="submit">Register
  </button>
</form>