<h1>Details for {{car.model}}</h1>
<img ng-src="{{car.image}}"
     class="img-responsive thubnailPicture"
     alt="Car Image">
<h5><p>{{car.description}}</p></h5>

<hr>

<div style="height: 305px">
    <uib-carousel active="active"
                  interval="myInterval"
                  no-wrap="noWrapSlides">
        <uib-slide ng-repeat="slide in slides track by slide.id"
                   index="slide.id">
            <img ng-src="{{slide.image}}"
                 style="margin:auto;">
            <div class="carousel-caption">
                <h4>Slide {{slide.id}}</h4>
                <p>{{slide.text}}</p>
            </div>
        </uib-slide>
    </uib-carousel>
</div>

<a ui-sref="main.content"
   role="button"
   class="btn btn-warning"> Go back
</a>