<div class="navbar navbar-default">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h4>
                    <button type="button" 
                            class="btn btn-warning btn-xs float-right" 
                            ui-sref="auth.login"><span class="fa fa-sign-out"></span> Logoff</button>
                    <button type="button" 
                            class="btn btn-primary btn-xs float-right" 
                            ui-sref="admin.dashboard"><span class="fa fa-cog"> Admin</span></button>
                </h4>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <uib-tabset active="activeJustified" justified="true">
                    <uib-tab index="0" active="activeTab1" heading="Find a car" ui-sref="main.search"></uib-tab>
                    <uib-tab index="1" active="activeTab2" heading="Best deals" ui-sref="main.deals"></uib-tab>
                    <uib-tab index="2" active="activeTab3" heading="Contacts"   ui-sref="main.contacts"></uib-tab>
                </uib-tabset>
            </div>
        </div>        
    </div>
</div>