<div class="row well">
    <form role="form" class="searchForm">

        <div class="row" style="margin-bottom: 10px;">
            <span class="col-md-6">
                <span class="label label-info">From (Date / Time): </span>
            </span>
            <span class="label label-info">To (Date / Time): </span>
        </div>

        <div class="row">
            <div ng-controller="datePickerCtrl" class="col-md-6">
                <div>
                    <p class="input-group">
                        <input type="text"
                                class="form-control"
                                uib-datepicker-popup ng-model="dt"
                                is-open="popup.opened"
                                datepicker-options="dateOptions"
                                ng-required="true"
                                placeholder="Date from ..."
                                close-text="Close"/>
                        <span class="input-group-btn">
                            <button type="button"
                                    class="btn btn-default"
                                    ng-click="open()">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </span>
                        <uib-timepicker ng-model="selectedTime"
                                        ng-change="changed()"
                                        hour-step="1"
                                        minute-step="1"
                                        show-meridian="false"
                                        show-spinners="false">
                        </uib-timepicker>
                    </p>
                </div>             
            </div>

            <div ng-controller="datePickerCtrl" class="col-md-6">
                <div>
                    <p class="input-group">
                        <input type="text"
                                class="form-control"
                                uib-datepicker-popup ng-model="dt"
                                is-open="popup.opened"
                                datepicker-options="dateOptions"
                                ng-required="true"
                                placeholder="Date to ..."
                                close-text="Close"/>
                        <span class="input-group-btn">
                            <button type="button"
                                    class="btn btn-default"
                                    ng-click="open()">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </span>
                        <uib-timepicker ng-model="selectedTime"
                                        ng-change="changed()"
                                        hour-step="1"
                                        minute-step="1"
                                        show-meridian="false"
                                        show-spinners="false">
                        </uib-timepicker>
                    </p>
                </div>              
            </div>            
        </div>

        <div class="row" ng-controller="getLocationsCtrl">
            <div class="form-group col-md-12">
                <input type="text"
                        ng-model="asyncSelected"
                        uib-typeahead="address for address in getLocation($viewValue)"
                        typeahead-loading="loadingLocations"
                        typeahead-no-results="noResults"
                        name="city"
                        id="city"
                        class="form-control"
                        placeholder=" Select location"
                        tabindex="2">
            </div>
        </div>

        <div class="searchPanelButtons" ng-controller="advancedSearchCtrl">
            <div class="row advancedSearchSubpanel">
                <div uib-collapse="isCollapsed">
                    <div class="col-md-6">
                        <div class="form-group">
                            <select type="text"
                                    name="carType"
                                    class="form-control">
                                <option value="carType">    Select car type     </option>
                                <option value="sedan">      Sedan               </option>
                                <option value="hatchback">  Hatchback           </option>
                                <option value="coupe">      Coupe               </option>
                                <option value="cabrio">     Cabrio              </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <select type="text"
                                    name="carClass"
                                    class="form-control">
                                <option value="carClass">  Select car class   </option>
                                <option value="economy">  Economy   </option>
                                <option value="premium">  Premium   </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-1">
                    <a ui-sref="main.content"
                       class="btn btn-success"
                       type="submit">
                        Search
                    </a>
                </div>
                <div class="col-md-2">
                    <button type="button"
                            class="btn btn-default"
                            ng-click="isCollapsed = !isCollapsed">Advanced search
                    </button>
                </div>
            </div>
        </div>
        <hr style="margin-top:10px;margin-bottom:10px;" >
    </form>
</div>