<div class="row">
    <div class="col-md-12 well">
        <h2 class="slogan">Rent a car right now </h2>
        <p class="slogan">Welcome and select any car you like!</p>
    </div>
</div>

<!--Search Panel Component-->
<div class="row">
    <div class="col-md-12">
        <div search-panel></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div ui-view></div>
    </div>
</div>