<form class="searchForm">
    <div class="row well">
        <div>
            <div class="row">
                <div class="col-md-8">
                    <input ng-model="carName"
                           placeholder="Search for a car..."
                           class="form-control"
                           name="searchCarButton">
                </div>
                <div class="col-md-2 pull-right dropdown sortResults">
                    <button class="btn btn-primary dropdown-toggle"
                            id="searchButton"
                            type="button"
                            data-toggle="dropdown">Sort results by:  |
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu"
                        id="searchButtonDropdown">
                        <li><a href="#">Price</a></li>
                        <li><a href="#">Car Class</a></li>
                        <li><a href="#">Location</a></li>
                        <li><a href="#">Color</a></li>
                        <li><a href="#">Max. number of people</a></li>
                    </ul>
                </div>
                <div class="col-md-2 pull-right">
                    <button type="button"
                            class="btn btn-default"
                            ng-init="isCollapsed = true"
                            ng-click="isCollapsed = !isCollapsed">Search panel
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row" uib-collapse="isCollapsed">
        <div class="col-md-12">
            <div search-panel></div>
        </div>
    </div>    

    <div class="row">
        <div class="col-sm-6 col-md-4"
             ng-repeat = "car in filteredCars | filter:carName">
            <div class="thumbnail">
                <h5><span class="label label-danger">{{car.bookedLabel}}</span></h5>
                <img ng-src="{{car.image}}"
                     class="img-responsive thubnailPicture"
                     alt="Car Image">
                <div class="caption" >
                    <h3>{{car.model}}</h3>
                    <h5><p>{{car.description}}</p></h5>
                    <p><a ui-sref="main.carDetails({carId:$index})"
                            class="btn btn-primary"
                            role="button">Book</a>
                        <a ui-sref="main.carInfo({carId:$index})"
                            class="btn btn-info"
                            role="button"
                            data-toggle="modal"
                            data-target="#modalInfo">Info</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row"> 
        <div class="col-md-12 col-md-offset-3">
            <uib-pagination total-items="totalItems"
                            ng-model="currentPage"
                            class="pagination-lg"
                            boundary-links="true">
            </uib-pagination>
        </div>    
    </div>
</form>

<!--Footer-->
<div ng-include="'partials/footer.html'"></div>